.pagination {
    margin-bottom: 1em;
    
    li {
        display: inline-block;
    }
    
    .prev {
        :before {
            content: "< ";
        }
    }
    
    .next {
        float: right;
        
        :after {
            content: " >";
        }
    }
}

@media print {
    .pagination {
        display: none;
    }
}