

.post {
    .post-title {
        margin-bottom: .1em;
    }

    .post-meta {
        font-size: 80%;
        margin-left: 0;
        color: #555;

        li {
            display: inline;
            padding-right: 1em;
        }
    }
}

// 列表内特殊样式
.posts {
    .post {
        margin-bottom: 1em;
    }
}

// 单文章内特殊样式
article.post {
    .post-title {
        color: #275186;
    }
}