.wrapper {
  margin: auto;
  position: relative;
  width: 40em;
}
@media screen and (max-width: 40em) {
  .wrapper {
    width: 100%;
  }
}

.main, .side {
  margin-top: 1em;
}

footer {
  text-align: center;
  margin-top: 2em;
  line-height: 1.2;
  font-size: 80%;
  font-weight: lighter;
  clear: both;
}

body {
  background: #FCFCFC;
}

.posts .post {
  margin-bottom: 1em;
}

.post .post-title {
  margin-bottom: .1em;
}
.post .post-meta {
  font-size: 80%;
  margin-left: 0;
  color: #555;
}
.post .post-meta li {
  display: inline;
  padding-right: 1em;
}

article.post .post-title {
  color: #275186;
}

.pagination {
  margin-bottom: 1em;
}
.pagination li {
  display: inline-block;
}
.pagination .prev :before {
  content: "< ";
}
.pagination .next {
  float: right;
}
.pagination .next :after {
  content: " >";
}

@media print {
  .pagination {
    display: none;
  }
}
