// config

body {
    background: #D7D7D7 url("background.png");
}

$defaultLinkColor: #0080FF;

a {
    color: $defaultLinkColor;
    
    &:visited {
        color: #275186;
    }
    
    &:focus {
        
    }
    
    &:hover {
        color: #3AF;
    }
    
    &:active {
        color: #66CCFF;
    }
}

.no_link_status a:visited {
    color: $defaultLinkColor;
}

header {
    background: transparent;
}

.main, .side {
    box-shadow: .1em .1em .4em .1em rgba(0, 0, 0, .2);
    background: #FFF;
    border: 1px #aaa solid;
}

#content {
    padding: .7em 1.1em;
}

.lbox {
    // background: #FFF;
}
