
a {
    // 默认不显示下划线，hover 状态才显示，保持页面简洁，
    text-decoration: none;
    
    // Remove the gray background color from active links in IE 10.
    background: transparent;
    &:hover {
        text-decoration: underline;
    }

    // Address `outline` inconsistency between Chrome and other browsers.
    &:focus {
        outline: thin dotted;
    }

    // Improve readability when focused and also mouse hovered in all browsers.
    &:active,
    &:hover {
        outline: 0;
    }
}
