@charset "utf-8";

/// config
$contentWidthMax: 50em;
$contentWidthMin: 12em;

$wrapperWidthMin: 20em;
$wrapperWidthMax: 60em;
$wrapperWidth: 80%;

$columnChangeWidth: 48em;
$headerHeight: auto;

$asideColumnOffset	: 5em;
$asideColumnMinWidth: 7em;
$asideColumnMaxWidth: 12em;

/// color
$baseColor1	: #08C;
$baseColor1Highlighted: #005580;
$lightColor : #FFF;

/// 处理链接
a {
	color: $baseColor1;

	&:visited {
	}

	&:focus {
		color: $baseColor1Highlighted;
	}

	&:hover {
		color: $baseColor1Highlighted;
	}

	&:active {
	}

	&:target {

	}
}

h2:target,
h3:target,
span:target {
	background-color: rgba(255, 248, 128, 0.400);
}

/// function
@mixin border-radius($expr: .5em) {
	-moz-border-radius: $expr;
	//-webkit-border-radius: $expr;
	//-o-border-radius: $expr;
	//-ms-border-radius: $expr;
	-khtml-border-radius: $expr;
	border-radius: $expr;
}

/// 模块定位
.wrapper {
	min-width: $wrapperWidthMin;
	width: $wrapperWidth;
	max-width: $wrapperWidthMax;
	margin: 0 auto;
	//background-color: rgba(224, 152, 114, 0.680);
}

header {
	height: $headerHeight;
	//background-color: rgba(111, 187, 224, 0.680);
}

.nav-wrapper {
	position: fixed;
	width: $asideColumnOffset;
	//background-color:rgba(64, 95, 76, 0.200);
}

#site_nav {
	position: absolute;
	min-width: $asideColumnMinWidth;
	margin-left: $asideColumnMaxWidth;
	right: 0;
}

.main {
	padding-bottom: 2em;	// leave space for footer
	margin-left: $asideColumnOffset;
	padding-left: .5em;
	position: relative;
	//background-color: rgba(104, 224, 105, 0.680);
}

footer {
	position: fixed;
	bottom: 1.5em;
	text-align: center;
	margin-left: -5em;
	//background-color: rgba(152, 119, 224, 0.680);
}

@media screen and (max-width: $columnChangeWidth) {
	.wrapper {
		min-width: $contentWidthMin;
		width: 98%;
	}

	header, #site_nav, footer, .nav-wrapper, #site_nav {
		position: relative;
		width: auto;
		top: auto;
		margin: 0;
	}
	
	.main {
		margin-left: auto;
		padding-left: 0;
	}
	
	#site_nav {
		margin: 0 1em;
		background-color: lighten($baseColor1, 56%);
		li {
			float: left;
		}
	}
}

/// 处理滚动
article.typo {
	overflow-x: hidden;
	
	table, pre {
		display: block;
		overflow-x: auto;
	}
}

/// 顶部
header {
	h1 {
		line-height: 1;
	}
	
	hgroup {
		padding: 1em 2em;
	}

	a:hover {
		text-decoration: none;
	}
}

#site_nav {
	text-align: right;

	li {
		list-style: none;
		overflow: hidden;
	}

	a {
		display: block;
		padding: .4em 1em;
	}
	a.active {
		background: $baseColor1;
		color: $lightColor;
	}
	a:hover {
		text-decoration: none;
		background-color: $baseColor1;
		color: $lightColor;
	}
}

#profile-bar {
	position: absolute;
	top: 0;
	right: 0;
	
	li {
		display: inline-block;
	}
}

/// 文章
#content {
	position: relative;
	padding: .4em 1em;
}

article {
	a {
		&:visited {
			color: #777;	
		}
		
		&:hover {
			text-decoration: underline;
		}
	}
}
h1.page_title {
	margin-bottom: 0;
}

.date {
	text-align: right;
	color: #AAA;
	border-top: 1px #AAA solid;
}

.pagination {
	text-align: center;
	
	.prev {
		float: left;
		text-align: left;
	}
	.next {
		//float: right;
		text-align: right;
	}
	li {
		float: left;
		width: 33%;
	}
	li.disabled a {
		color: #BCD;
	}
}

ul.tag_box {
	margin-left: 0;
}
.tag_box {
	overflow:hidden;
	font-size: 70%;
	
	li {
		list-style: none;
		float: left;
		margin-right: .8em;
		margin-bottom: .6em;
	}
	
	a {
		display: block;
		background: #FAFAFA;
		padding: .1em .5em .2em .7em;
		border: 1px #EEE solid;
		color:#005F6B;
		@include border-radius(.5em);
		text-decoration:none;
		
		&:visited {
			color:#005F6B;
		}
		
		&:hover {
			text-decoration: none;
			background: #005F6B;
			border-color: 045;
			color: $lightColor;
		}
	}
	
	a span{
		vertical-align:super;
		font-size:0.8em;
	}

}
.tag_box.tag_box.inline li {
	float:left;
}
.tag_box .tag_box .tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:$lightColor;
}


/// table
.old-table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: .5em;
	word-wrap: break-word;
	border: 1px #666 solid;
	display: table;
	
	col {
		border-left: 1px #CCC solid;
	}
	
	.odd, tr:nth-child(odd) {
		background: #E7F2F9;
	}
	
	.firstCol {
		border-left: 0;
	}
	
	th {
		background-color: #82A689;
		text-align: right;
		font-weight: normal;
	}
	
	tr:hover {
		background-color: #3AC;
		color: $lightColor;
	}
	
	th[scope^='col'], td[scope^='col'] {
		background: #CCC;
		border-top: 1px #A5A5A5 solid;
		border-bottom: 1px #A5A5A5 solid;
		color: #222;
		text-align: center;
	}
}

/// 打印
@media print {
	.nav-wrapper, header, footer, .pagination, .tag_box {
		display: none;
	}
	.wrapper, header, footer {
		position: static;
		width: auto;
	}
	.content, .main, article {
		margin: auto;
		padding: auto;
	}

	.page_title {
		text-align: center;
	}

	.date {
		border: 0;
	}
}

