@charset "utf-8";
/*
	Base on TYPO.CSS (http://typo.sofish.de/)
*/
/* px always evil! */
html {
  color: #555;
  background: white; }

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

iframe {
  display: block; }

body, button, input, select, textarea {
  font-weight: 500;
  font-size: 100%;
  line-height: 1.8;
  font-family: "Hiragino Sans GB", sans-serif; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-weight: 800\9;
  color: #333; }

small {
  font-size: 80%;
  color: #888; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

img {
  -ms-interpolation-mode: bicubic; }

img, object, audio, canvas, video {
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }
  a:hover, a:active {
    outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

caption, th {
  text-align: left; }

blockquote {
  margin: 1em 2em 1em 1.7em;
  padding: .5em .8em;
  background: #f1f1f1; }
  blockquote blockquote {
    padding: .2em 1em;
    margin: 1em 0 0;
    border-left: .3em solid #ddd; }

@media screen and (max-width: 30em) {
  blockquote {
    margin: 1em 0;
    background: #f1f1f1; }
    blockquote blockquote {
      padding: 0 .5em 0 .7em;
      margin: .7em 0 .3em 0;
      border-left: .3em solid #ddd; } }
acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal; }

abbr {
  cursor: help; }

del {
  text-decoration: line-through; }

ul, ol {
  list-style: none; }

q:before, q:after {
  content: ''; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: text-top\9; }

:root sub, :root sup {
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

u {
  text-decoration: underline; }

mark {
  background: #fffdd1; }

pre, code {
  font-family: "Courier New", Courier, monospace; }

pre {
  border: 1px solid #ddd;
  border-left-width: 0.4em;
  background: #fbfbfb;
  padding: .4em .7em; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table {
  margin-bottom: 1em; }

.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6 {
  margin-bottom: 0.4em;
  line-height: 1.5; }

.typo h1 {
  font-size: 1.8em; }

.typo h2 {
  font-size: 1.6em; }

.typo h3 {
  font-size: 1.4em; }

.typo h4 {
  font-size: 1.2em; }

.typo h5, .typo h6 {
  font-size: 1em; }

.typo ul {
  margin-left: 1.3em;
  list-style: disc; }

.typo ol {
  list-style: decimal;
  margin-left: 1.9em; }

.typo li ul, .typo li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2em; }

.typo li ul {
  list-style: circle; }

.typo table th, .typo table td {
  border: 1px solid #ddd;
  padding: .3em .7em; }

.typo table th {
  background: #fbfbfb; }

.typo table thead th {
  background: #f1f1f1; }

.typo-em, .typo em {
  font-weight: 700; }
